<footer>
    <div class="firstDiv">
        <div>Past Events:
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
        </div>
        <div>Our Services: 
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
        </div>
        <div>Follow Us:
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
            <ul>abc</ul>
        </div>
    </div>
    <div class="Copyright">Copyright &copy;practiceAngular</div>
</footer>


