h1 {
    margin: 0;
    text-align: center;
    margin-top: 10px;
    color: white;
}

section {
    padding: 20px;
    margin: 20px 1rem;
    background-color: hsl(330, 85%, 82%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(34, 34, 34, 0.1);
    color: rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    padding: 0;
}